.comments-section {
  border-radius: 20px;
  padding: 1.5em;

  .no-comments {
    text-align: center;
    color: gray;
  }
}

.comments-container {
  display: flex;
}

.ui.minimal.comments {
  width: 100%;
  max-width: none !important;

  .comment {
    margin-top: 1em;
    box-shadow: 1px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 1em;

    .actions {
      margin: 1em;
    }
  }
}

.ui.form.add-comment {
  width: 100%;
  margin-top: 3em;
}
